# Публичный URL backend API для браузерного axios/Orval client
NEXT_PUBLIC_API_URL=https://jsonplaceholder.typicode.com/

# OpenAPI schema для генерации shared/api/generated.ts через Orval
ORVAL_PATH_URL=http://localhost:3000/uploads/openapi/openapi-spec.json
